<?xml version="1.0"?>
    <!-- 
      thumbsUrlPattern: Thumbnails should be generated dynamically. We force the Backload component to generate a link to itself. By default a direct link to a stored thumbnail file is returned.
      getInclSubFolders: On a GET request we want to include the search in subfolders, as we have multiple in this example. 
    -->
    <backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema"
                thumbsUrlPattern="{Backload}"
                getInclSubFolders ="true">

      <thumbnails path="" canvasColor="#00000000" /> <!-- We set path to an empty string, because in this example we want thumbnails to be dynamically created on request and not stored. (thumbsUrlPattern="{Backload}") -->

      <cacheManager lastModified="true" etag="true"/> <!-- Add some cache headers to the response. -->
    </backload>