<?xml version="1.0"?>
    <!-- 
      plugin:  We use PlUpload and JQuery File Upload as the client side component so we set this to "Auto". This will generate the output automatically based on a plugin=".." querystring.
    -->
    <backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema"
                plugin="Auto">

      <thumbnails resizeMode="crop" canvasColor="#00000000" /> <!-- Some thumbnail settings -->
      <extensionsManager enabled="true" /> <!-- Enable extensibility feature, because we've coded some extensions  -->
    </backload>