/*Pricing Option 1*/
#editions {
  margin-bottom: 100px;
  margin-top: 50px; }
  #editions .head {
    text-align: left;
    margin-bottom: 50px; }
    #editions .head h3 {
      font-size: 35px;
      font-style: italic;
      font-weight: normal;
      margin: 0 0 20px 0;
      color: #252528; }
    #editions .head h6 {
      font-size: 18px;
      margin: 0;
      color: #8E8E8F;
      font-weight: normal; }
  #editions .charts_wrapp {
    margin-bottom: 40px; }
    #editions .charts_wrapp .plan {
      border-radius: 6px;
      box-shadow: 0 1px 3px 1px #d6d6d6;
      background-color: #fff;
      width: 95%;
      position: relative; }
      #editions .charts_wrapp .plan .wrapper {
        padding: 33px 30px 26px 30px; }
      #editions .charts_wrapp .plan h3 {
        color: #535353;
        font-weight: normal;
        font-style: italic;
        font-size: 28px;
        margin: 0 0 5px 0;
        line-height: 25px; }
      #editions .charts_wrapp .plan .price {
        font-size: 17px;
        color: #1189D9;
        margin-top: 16px; }
        #editions .charts_wrapp .plan .price span.dollar {
          font-size: 32px;
          position: relative;
          top: -6px;
          margin-right: 3px; }
        #editions .charts_wrapp .plan .price span.qty {
          font-size: 47px;
          margin-right: 4px;
          position: relative;
          top: 2px; }
        #editions .charts_wrapp .plan .price span.month {
          font-style: italic;
          font-weight: 300;
          font-size: 15px; }
      #editions .charts_wrapp .plan .features {
        margin-top: 30px; }
        #editions .charts_wrapp .plan .features p {
          color: #838385;
          margin-bottom: 5px;
          font-size: 14px; }
  #editions .plan a.order {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 48%;
    display: block;
    padding: 3px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear; }
    #editions .plan a.order:hover {
      background: #252528; }
  #editions .pro .plan {
    width: 100%;
    top: -20px;
    box-shadow: 0 0 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9; }
    #editions .pro .plan .wrapper {
      padding: 36px 30px 35px 30px; }
    #editions .pro .plan img.ribbon {
      position: absolute;
      top: 0;
      right: 0; }
    #editions .pro .plan a.order {
      margin-top: 35px; }
  #editions .standar .plan {
    float: right; }
  #editions .start {
    width: 100%;
    text-align: center; }
    #editions .start p {
      font-size: 24px;
      display: inline-block;
      color: #5B5B5D;
      font-style: italic;
      line-height: 26px;
      margin: 0 18px 0 0; }
    #editions .start a {
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      padding: 7px 17px;
      font-size: 17px;
      background: #252528;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear; }
      #editions .start a:hover {
        background: #2190DB; }


/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  #editions .plan a.order {
    width: 64%; }
}
@media (max-width: 767px) {
  #editions .charts_wrapp .plan {
    margin: 0 auto 30px;
    width: 95%; }
  #editions .plan .wrapper {
    margin: 0 auto;
    text-align: center; }
  #editions .pro .plan {
    top: 0;
    width: 95%; }
  #editions .standar .plan {
    float: none; }
  #editions .start p {
    margin-bottom: 20px; }
  #editions .start a {
    display: block;
    width: 50%;
    margin: 0 auto; }
}

.input-hint {
    display: inline-block;
    margin-top: 5px;
    color: #c0c0c0;
}

.validate-hint {
    color: #a0a0a0;
    display:none;
}