/* features */
#features {
  margin-top: 50px;}
  #features .subtitle h2 {
    margin: 0;
    font-style: italic;
    font-size: 24px;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 70px;
    line-height: 35px;
    text-align: center; }
  #features .section_header h3 span {
    font-size: 18px;
    line-height: 20px; }
  #features .feature {
    padding: 40px 0 38px 0;
    background: white;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    border-radius: 4px;
    position:relative;}
  #features .row {
  margin-top: 30px;}
    #features .feature .img {
      text-align: center;
      margin: 0 auto 37px; }
    #features .feature .text {
      margin: 0 auto;
      width: 87%; }
      #features .feature .text h6 {
        margin: 0 0 9px 0;
        font-size: 20px;
        text-align: center; }
      #features .feature .text p {
        margin: 0 auto;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        width: 90%;
        margin-top: 18px; }
    #features .feature:hover {
        border-color: #B1B1B1;
        box-shadow: 0 0 6px 0 #B4B4B4;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease; }
/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) {
  #features .feature .pic-right {
    float: right; }
  #features .feature .info-left {
    float: left; } }
@media (max-width: 767px) {
  #features .feature {
    margin-bottom: 60px; }
    #features .feature img {
      margin: 0 auto !important;
      float: none !important; }
  #features .last {
    margin-bottom: 0; }
  #features .feature {
    margin-bottom: 60px;
    overflow: hidden; } }
@media (max-width: 480px) {
  #features .subtitle h2 {
    font-size: 22px;
    line-height: 30px; }
  #features .feature {
    margin-bottom: 60px; }
  #features .last {
    margin-bottom: 0; } 
}
