<?xml version="1.0"?>
<fileUpload uniqueFileNames="true" keepOrgFileNames="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:fileupload-schema" xsi:noNamespaceSchemaLocation="Web.FileUpload.xsd">
  <thumbnails height="48" width="48" resizeMode="crop" canvasColor="#00808080" />
  <contentTypes thumbnailSize="48" />
</fileUpload>
