<?xml version="1.0"?>
<backload uniqueFileNames="true" keepOrgFileNames="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema" xsi:noNamespaceSchemaLocation="Web.Backload.xsd">
  <thumbnails height="48" width="48" resizeMode="crop" canvasColor="#00808080" />
  <contentTypes thumbnailSize="48" />
</backload>
