<?xml version="1.0"?>
    <!-- 
      thumbsUrlPattern: Thumbnails should be generated dynamically. We force the Backload component to generate a link to itself. By default a direct link to a stored thumbnail file is returned.
    -->
<backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema"
            thumbsUrlPattern="{Backload}">
  <!-- canvasColor is the background color of a canvas. It is visible if the source image size is not the same as the resulting image.
       In resize modes ratio and crop, you do not see the canvas. In can also be transparent, as we use the argb color schema.
       We set path to an empty string in order thumbnails not to be stored. We create them dynamically on a request (see: thumbsUrlPattern setting).
  -->
  <images width="600" height="400" dpi="96" resizeMode="ratio" />
  <thumbnails path="" width="60" height="40" canvasColor="#00000000" resizeMode="place" imageType="image/png" />

  <cacheManager lastModified="true" etag="true"/> <!-- Add some cache headers to the response. -->
</backload>