<?xml version="1.0"?>
  <fileUpload xsi:noNamespaceSchemaLocation="Web.FileUpload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:fileupload-schema">

    <fileSystem objectsRoot="Uploads" /> <!-- In this example want to store the files in a subfolder of the files root -->

  </fileUpload>
