<?xml version="1.0"?>
    <!-- 
      thumbsUrlPattern: Thumbnails should be generated dynamically. We force the Backload component to generate a link to itself. By default a direct link to a stored thumbnail file is returned.
                        Important note: thumbsUrlPattern is a Pro feature. In the Standard version it return a url to the thumbnail like the default setting.
      plugin:           We use PlUpload as the client side component. This setting forces Backload to generate JSON output for PlUpload. If you do not set this attribute here, you must set it within the querystring (plugin=plupload) or ust an IOutputResponse extension to transform the output.
    -->
    <backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema"
                thumbsUrlPattern="{Backload}"
                plugin="PlUpload">
      <thumbnails path="" resizeMode="crop" /> <!-- We set path to an empty string, because thumbnails are not stored and generated dynamically (thumbsUrlPattern="{Backload}") -->   
      <extensionsManager enabled="true" /> <!-- Enable extensibility feature, because we've coded some extensions  -->
      <cacheManager lastModified="true" etag="true"/> <!-- Add some cache headers to the response -->
    </backload>