<?xml version="1.0"?>
<!-- To enable cloud storage set storageContext="CloudStorage" -->
<!-- Demo: Eventing enabled for events demo only -->
<backload storageContext="CloudStorage" eventing="true" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema">

  <!-- Cloud settings. Set service provider to Azure Blob storage -->
  <cloudStorage serviceProvider="AzureBlobStorage">
    <azureBlobStorage uploadContainer="uploads" />    <!-- Name of the upload container -->
  </cloudStorage>

</backload>
    