<?xml version="1.0"?>
<fileUpload plugin="PlUpload" enableIntegratedHandler="false" xsi:noNamespaceSchemaLocation="Web.FileUpload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:fileupload-schema">
  <fileSystem copiesRoot="Backup" />
  <security allowedDownloadRoles="" allowedUploadRoles="" allowedDeleteRoles="" /> <!-- In demo 2a we add roles in the event handler, so we remove the default allowed roles ("*") -->
</fileUpload>