<?xml version="1.0"?>
    <!-- 
      thumbsUrlPattern: Thumbnails should be generated dynamically. We force the Backload component to generate a link to itself. By default a direct link to a stored thumbnail file is returned.
                        Important note: thumbsUrlPattern is a Pro feature. It will fall back to return a url in the Standard version.
      getInclSubFolders: On a GET request we want to include the search in subfolders, as we have multiple in this example. 
    -->
    <backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema"
                thumbsUrlPattern="{Backload}"
                getInclSubFolders ="true">

      <images width="600" height="400" canvasColor="#00000000" resizeMode="ratio" /> <!-- In this example we resize images -->
      <thumbnails path="" canvasColor="#00000000" /> <!-- We set path to an empty string, because thumbnails are not stored and generated dynamically (thumbsUrlPattern="{Backload}") -->

      <extensionsManager enabled="true" /> <!-- Enable extensibility feature, because we've coded some extensions  -->
      <cacheManager lastModified="true" etag="true"/> <!-- Add some cache headers to the response. -->
    </backload>