<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>

<!--	  You can make the config settings in the web.config. Alternatively you can use a seperate config file
      as shown below in most examples. Just copy this section declaration with the appropriate configSource 
      attribute into your Web.config file.
      For more on config options and settings refer to the wiki on GitHub (https://github.com/blackcity/Backload) 
      or use the Web.Backload.Default.config file as a starting point.
-->    
    <section name="backload" type="Backload.Configuration.BackloadSection, Backload, Version=1.9, Culture=neutral, PublicKeyToken=02eaf42ab375d363" requirePermission="false" />
<!-- 
	<backload configSource="Web.Backload.config" /> 
  -->
    
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
    <system.webServer>
      <handlers accessPolicy="Read, Execute, Script">
        <remove name="SimpleHandlerFactory-Integrated" />
        <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,POST,PUT,DELETE" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
